.Quote {
  text-align: center;
}

/* .Quote-header {
  background-color: 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.Quote-link {
  color: #61dafb;
}
