@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: red;
}
.Keano {
  background-image: url("./Keano.png");
  width: 45%;
}
.App {
  text-align: center;
  font-family: Nunito;
  color: white;
  font-size: 1.2rem;
  position: relative;
}
#quote-box {
  background: red;
  width: 40rem;
  margin: 0rem auto;
  padding: 3rem;
  border-radius: 5px;
}
#new-quote {
  background: black;
  border: none;
  color: #fff;
  padding: .5rem 1rem;
  font-size: .8rem;
  font-weight: bold;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

